body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  max-width: 1248px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.main-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 300px;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}
nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

a:hover {
  color: rgb(105, 105, 105);
}

.card-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
